body{
    color:#eeb4af;
    color:#f2948e;
    color: #ef6b62;
    color: #ec465d;
    color:#e72640;
    color: #d9004b;


    color:#ff7700;
    color:#ff6e03;
    color:#fa5722;
    color: #f23f33;
    color:#e72640;
    color: #d9004b
}