.text-ellipsis-custom {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Change this value to the number of lines you want */
  line-clamp:4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-container:hover .text-ellipsis-custom {
  -webkit-line-clamp: unset;
  line-clamp: unset;
}

@keyframes fadeInEven {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeInOdd {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}

.fade-in.visible:nth-child(odd) {
  opacity: 1;
  transform: translateY(0);
  animation: fadeInEven 0.5s ease-in-out forwards;
  color: #ff9040;
}

.fade-in.visible:nth-child(even) {
  opacity: 1;
  transform: translateY(0);
  animation: fadeInOdd 0.5s ease-in-out forwards;
  color: #ff9040;
}

.project-card {
    overflow: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

.project-card::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}