.text-ellipsis-custom {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Change this value to the number of lines you want */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-container:hover .text-ellipsis-custom {
  -webkit-line-clamp: unset; /* Removes the line clamp on hover */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
  animation: fadeIn 0.5s ease-in-out forwards;
  color: #ff9040;
}