html{
    scroll-behavior: smooth;
}

div#root{
    width: 100%;
    height: 100vh;
    color: #a9b68d;
    overflow-x: hidden;
    /* color: #484848; */
}
body{
    overflow-x: hidden;
}
.hide-x-scrollbar::-webkit-scrollbar {
    display: none;
}
::-webkit-scrollbar {
        width: 8px;
        height: 5px;
    }

    ::-webkit-scrollbar-corner {
        height: 0;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: transparent;
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: red;
        border-radius: 10px;
    }